[Unit]
Description=Renew xrootd proxy

[Service]
User=xrootd
Group=xrootd
Type = oneshot
ExecStart = /bin/voms-proxy-init -voms cms --valid 192:00 -cert {{ path_to_certs }}/xrdcert.pem -key {{ path_to_certs }}/xrdkey.pem

[Install]
WantedBy=multi-user.target